<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loginscripts</key>
	<array>
		<dict>
			<key>filedata</key>
			<data>
			IyEgL2Jpbi96c2gKc3VkbyBzY3V0aWwgLS1zZXQgQ29tcHV0ZXJO
			YW1lIOuztOyMiOyVoOyduApzdWRvIHNjdXRpbCAtLXNldCBMb2Nh
			bEhvc3ROYW1lIEJvU3NhbUxvdmVyCnN1ZG8gc2N1dGlsIC0tc2V0
			IEhvc3ROYW1lIOuztOyMiOyVoOyduApzdWRvIC9iaW4vbGF1bmNo
			Y3RsIGVuYWJsZSBzeXN0ZW0vY29tLmFwcGxlLmF1ZGl0ZApzdWRv
			IC9iaW4vbGF1bmNoY3RsIGRpc2FibGUgc3lzdGVtL29yZy5hcGFj
			aGUuaHR0cGQKc3VkbyAvYmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5
			c3RlbS9jb20uYXBwbGUubmZzZApzdWRvIGJpbi9ybSAtcmYgL2V0
			Yy9leHBvcnRzCnN1ZG8gL3Vzci9iaW4vZHNjbCAuIC1jcmVhdGUg
			L1VzZXJzL3Jvb3QgVXNlclNoZWxsIC91c3IvYmluL2ZhbHNlCnN1
			ZG8gL2Jpbi9sYXVuY2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFw
			cGxlLnRmdHBkCnN1ZG8gL2Jpbi9sYXVuY2hjdGwgbG9hZCAtdyAv
			U3lzdGVtL0xpYnJhcnkvTGF1bmNoRGFlbW9ucy9jb20uYXBwbGUu
			dGltZWQucGxpc3QKc3VkbyAvdXNyL2Jpbi9zZWN1cml0eSBhdXRo
			b3JpemF0aW9uZGIgd3JpdGUgc3lzdGVtLmxvZ2luLnNjcmVlbnNh
			dmVyICJ1c2UtbG9naW4td2luZG93LXVpIgpzdWRvIC9iaW4vbGF1
			bmNoY3RsIGRpc2FibGUgc3lzdGVtL2NvbS5hcHBsZS51dWNwCnN1
			ZG8gL2Jpbi9sYXVuY2hjdGwgdW5sb2FkIC13IC9TeXN0ZW0vTGli
			cmFyeS9MYXVuY2hEYWVtb25zL2NvbS5hcHBsZS5PRFNBZ2VudC5w
			bGlzdCAKc3VkbyAvdXNyL3NiaW4vc3lzYWRtaW5jdGwgLXNtYkd1
			ZXN0QWNjZXNzIG9mZgpzdWRvIC91c3Ivc2Jpbi9jdXBzY3RsIC0t
			bm8tc2hhcmUtcHJpbnRlcnMKc3VkbyAvdXNyL2Jpbi9scHN0YXQg
			LXAgfCBhd2sgJ3twcmludCAkMn0nfCAvdXNyL2Jpbi94YXJncyAt
			SXt9IGxwYWRtaW4gLXAge30gLW8gcHJpbnRlci1pcy1zaGFyZWQ9
			ZmFsc2UgCnN1ZG8gL3Vzci9zYmluL3N5c3RlbXNldHVwIC1zZXRy
			ZW1vdGVhcHBsZWV2ZW50cyBvZmYKc3VkbyAvYmluL2xhdW5jaGN0
			bCBkaXNhYmxlIHN5c3RlbS9jb20uYXBwbGUuQUVTZXJ2ZXIKc3Vk
			byAvU3lzdGVtL0xpYnJhcnkvQ29yZVNlcnZpY2VzL1JlbW90ZU1h
			bmFnZW1lbnQvQVJEQWdlbnQuYXBwL0NvbnRlbnRzL1Jlc291cmNl
			cy9raWNrc3RhcnQgLWRlYWN0aXZhdGUgLXN0b3AKc3VkbyBsYXVu
			Y2hjdGwgdW5sb2FkIC13IC9TeXN0ZW0vTGlicmFyeS9MYXVuY2hE
			YWVtb25zL2NvbS5hcHBsZS5mdHAtcHJveHkucGxpc3QgCnN1ZG8g
			L2Jpbi9sYXVuY2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFwcGxl
			LnNjcmVlbnNoYXJpbmcKc3VkbyAvYmluL2xhdW5jaGN0bCBkaXNh
			YmxlIHN5c3RlbS9jb20uYXBwbGUuc21iZApzdWRvIC9iaW4vbGF1
			bmNoY3RsIGRpc2FibGUgc3lzdGVtL2NvbS5vcGVuc3NoLnNzaGQK
			c3VkbyAvYmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5c3RlbS9jb20u
			YXBwbGUubmV0Ymlvc2QucGxpc3QKc3VkbyAvYmluL2xhdW5jaGN0
			bCBlbmFibGUgc3lzdGVtL2NvbS5hcHBsZS5hdWRpdGQKc3VkbyAv
			dXNyL2Jpbi9kZWZhdWx0cyAtY3VycmVudEhvc3Qgd3JpdGUgY29t
			LmFwcGxlLkJsdWV0b290aCBQcmVmS2V5U2VydmljZXNFbmFibGVk
			IC1ib29sIGZhbHNlCnN1ZG8gZGVmYXVsdHMgd3JpdGUgL0xpYnJh
			cnkvUHJlZmVyZW5jZXMvY29tLmFwcGxlLmxvZ2lud2luZG93IEVu
			YWJsZU1DWExvZ2luU2NyaXB0cyAtYm9vbCBUUlVFCnN1ZG8gZGVm
			YXVsdHMgd3JpdGUgL3Zhci9yb290L0xpYnJhcnkvUHJlZmVyZW5j
			ZXMvY29tLmFwcGxlLmxvZ2lud2luZG93IEVuYWJsZU1DWExvZ2lu
			U2NyaXB0cyAtYm9vbCBUUlVFCnN1ZG8gLXUgdmF1Z2huYWhhcnQg
			IC91c3IvYmluL2RlZmF1bHRzIC1jdXJyZW50SG9zdCB3cml0ZSBj
			b20uYXBwbGUuQmx1ZXRvb3RoIFByZWZLZXlTZXJ2aWNlc0VuYWJs
			ZWQgLWJvb2wgZmFsc2UKc3VkbyAvdXNyL3NiaW4vbnZyYW0gYm9v
			dC1hcmdzPSIiCnN1ZG8gcG1zZXQgLWEgZGVzdHJveWZ2a2V5b25z
			dGFuZGJ5IDEKc3VkbyBwbXNldCAtYSBoaWJlcm5hdGVtb2RlIDI1
			CnN1ZG8gcG1zZXQgLWEgcG93ZXJuYXAgMApzdWRvIHBtc2V0IC1h
			IHN0YW5kYnkgMApzdWRvIHBtc2V0IC1hIHN0YW5kYnlkZWxheSAw
			CnN1ZG8gcG1zZXQgLWEgYXV0b3Bvd2Vyb2ZmIDAKc3VkbyBwbXNl
			dCAtYSB3b21wIDAKc3VkbyBwbXNldCAtYSBzbGVlcCAxCnN1ZG8g
			cG1zZXQgLWEgZGlzcGxheXNsZWVwIDIKc3VkbyBwbXNldCAtYSBu
			ZXR3b3Jrb3ZlcnNsZWVwIDAKc3VkbyAvdXNyL2Jpbi9kZWZhdWx0
			cyB3cml0ZSAvdmFyL2RiL2xvY2F0aW9uZC9MaWJyYXJ5L1ByZWZl
			cmVuY2VzL0J5SG9zdC9jb20uYXBwbGUubG9jYXRpb25kIExvY2F0
			aW9uU2VydmljZXNFbmFibGVkIC1ib29sIHRydWUKc3VkbyAvdXNy
			L2Jpbi9kZWZhdWx0cyB3cml0ZSAvTGlicmFyeS9QcmVmZXJlbmNl
			cy9jb20uYXBwbGUubG9jYXRpb25tZW51LnBsaXN0IFNob3dTeXN0
			ZW1TZXJ2aWNlcyAtYm9vbCB0cnVlCnN1ZG8gL3Vzci9iaW4vc2Vj
			dXJpdHkgYXV0aG9yaXphdGlvbmRiIHdyaXRlIHN5c3RlbS5sb2dp
			bi5zY3JlZW5zYXZlciAiYXV0aGVudGljYXRlLXNlc3Npb24tb3du
			ZXIiCnN1ZG8gaWZjb25maWcgZW4wIC1hcnAKc3VkbyBsYXVuY2hj
			dGwgdW5sb2FkIC13IC9TeXN0ZW0vTGlicmFyeS9MYXVuY2hEYWVt
			b25zL2NvbS5hcHBsZS5uZXRiaW9zZC5wbGlzdApzdWRvIC91c3Iv
			c2Jpbi9zeXN0ZW1zZXR1cCAtZiAtc2V0cmVtb3RlbG9naW4gb2Zm
			ID4vZGV2L251bGwKc3VkbyBsYXVuY2hjdGwgY29uZmlnIHVzZXIg
			dW1hc2sgMDc3CmNkIC9Vc2VycwpzdWRvIGNobW9kIG9nLXJ3eCAq
			CnN1ZG8gc2h1dGRvd24gLXIgbm93
			</data>
			<key>filename</key>
			<string>login</string>
		</dict>
	</array>
	<key>logoutscripts</key>
	<array>
		<dict>
			<key>filedata</key>
			<data>
			IyEgL2Jpbi96c2gKc3VkbyBzY3V0aWwgLS1zZXQgQ29tcHV0ZXJO
			YW1lIOuztOyMiOyVoOyduApzdWRvIHNjdXRpbCAtLXNldCBMb2Nh
			bEhvc3ROYW1lIEJvU3NhbUxvdmVyCnN1ZG8gc2N1dGlsIC0tc2V0
			IEhvc3ROYW1lIOuztOyMiOyVoOyduApzdWRvIC9iaW4vbGF1bmNo
			Y3RsIGVuYWJsZSBzeXN0ZW0vY29tLmFwcGxlLmF1ZGl0ZApzdWRv
			IC9iaW4vbGF1bmNoY3RsIGRpc2FibGUgc3lzdGVtL29yZy5hcGFj
			aGUuaHR0cGQKc3VkbyAvYmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5
			c3RlbS9jb20uYXBwbGUubmZzZApzdWRvIGJpbi9ybSAtcmYgL2V0
			Yy9leHBvcnRzCnN1ZG8gL3Vzci9iaW4vZHNjbCAuIC1jcmVhdGUg
			L1VzZXJzL3Jvb3QgVXNlclNoZWxsIC91c3IvYmluL2ZhbHNlCnN1
			ZG8gL2Jpbi9sYXVuY2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFw
			cGxlLnRmdHBkCnN1ZG8gL2Jpbi9sYXVuY2hjdGwgbG9hZCAtdyAv
			U3lzdGVtL0xpYnJhcnkvTGF1bmNoRGFlbW9ucy9jb20uYXBwbGUu
			dGltZWQucGxpc3QKc3VkbyAvdXNyL2Jpbi9zZWN1cml0eSBhdXRo
			b3JpemF0aW9uZGIgd3JpdGUgc3lzdGVtLmxvZ2luLnNjcmVlbnNh
			dmVyICJ1c2UtbG9naW4td2luZG93LXVpIgpzdWRvIC9iaW4vbGF1
			bmNoY3RsIGRpc2FibGUgc3lzdGVtL2NvbS5hcHBsZS51dWNwCnN1
			ZG8gL2Jpbi9sYXVuY2hjdGwgdW5sb2FkIC13IC9TeXN0ZW0vTGli
			cmFyeS9MYXVuY2hEYWVtb25zL2NvbS5hcHBsZS5PRFNBZ2VudC5w
			bGlzdCAKc3VkbyAvdXNyL3NiaW4vc3lzYWRtaW5jdGwgLXNtYkd1
			ZXN0QWNjZXNzIG9mZgpzdWRvIC91c3Ivc2Jpbi9jdXBzY3RsIC0t
			bm8tc2hhcmUtcHJpbnRlcnMKc3VkbyAvdXNyL2Jpbi9scHN0YXQg
			LXAgfCBhd2sgJ3twcmludCAkMn0nfCAvdXNyL2Jpbi94YXJncyAt
			SXt9IGxwYWRtaW4gLXAge30gLW8gcHJpbnRlci1pcy1zaGFyZWQ9
			ZmFsc2UgCnN1ZG8gL3Vzci9zYmluL3N5c3RlbXNldHVwIC1zZXRy
			ZW1vdGVhcHBsZWV2ZW50cyBvZmYKc3VkbyAvYmluL2xhdW5jaGN0
			bCBkaXNhYmxlIHN5c3RlbS9jb20uYXBwbGUuQUVTZXJ2ZXIKc3Vk
			byAvU3lzdGVtL0xpYnJhcnkvQ29yZVNlcnZpY2VzL1JlbW90ZU1h
			bmFnZW1lbnQvQVJEQWdlbnQuYXBwL0NvbnRlbnRzL1Jlc291cmNl
			cy9raWNrc3RhcnQgLWRlYWN0aXZhdGUgLXN0b3AKc3VkbyBsYXVu
			Y2hjdGwgdW5sb2FkIC13IC9TeXN0ZW0vTGlicmFyeS9MYXVuY2hE
			YWVtb25zL2NvbS5hcHBsZS5mdHAtcHJveHkucGxpc3QgCnN1ZG8g
			L2Jpbi9sYXVuY2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFwcGxl
			LnNjcmVlbnNoYXJpbmcKc3VkbyAvYmluL2xhdW5jaGN0bCBkaXNh
			YmxlIHN5c3RlbS9jb20uYXBwbGUuc21iZApzdWRvIC9iaW4vbGF1
			bmNoY3RsIGRpc2FibGUgc3lzdGVtL2NvbS5vcGVuc3NoLnNzaGQK
			c3VkbyAvYmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5c3RlbS9jb20u
			YXBwbGUubmV0Ymlvc2QucGxpc3QKc3VkbyAvYmluL2xhdW5jaGN0
			bCBlbmFibGUgc3lzdGVtL2NvbS5hcHBsZS5hdWRpdGQKc3VkbyAv
			dXNyL2Jpbi9kZWZhdWx0cyAtY3VycmVudEhvc3Qgd3JpdGUgY29t
			LmFwcGxlLkJsdWV0b290aCBQcmVmS2V5U2VydmljZXNFbmFibGVk
			IC1ib29sIGZhbHNlCnN1ZG8gZGVmYXVsdHMgd3JpdGUgL0xpYnJh
			cnkvUHJlZmVyZW5jZXMvY29tLmFwcGxlLmxvZ2lud2luZG93IEVu
			YWJsZU1DWExvZ2luU2NyaXB0cyAtYm9vbCBUUlVFCnN1ZG8gZGVm
			YXVsdHMgd3JpdGUgL3Zhci9yb290L0xpYnJhcnkvUHJlZmVyZW5j
			ZXMvY29tLmFwcGxlLmxvZ2lud2luZG93IEVuYWJsZU1DWExvZ2lu
			U2NyaXB0cyAtYm9vbCBUUlVFCnN1ZG8gLXUgdmF1Z2huYWhhcnQg
			IC91c3IvYmluL2RlZmF1bHRzIC1jdXJyZW50SG9zdCB3cml0ZSBj
			b20uYXBwbGUuQmx1ZXRvb3RoIFByZWZLZXlTZXJ2aWNlc0VuYWJs
			ZWQgLWJvb2wgZmFsc2UKc3VkbyAvdXNyL3NiaW4vbnZyYW0gYm9v
			dC1hcmdzPSIiCnN1ZG8gcG1zZXQgLWEgZGVzdHJveWZ2a2V5b25z
			dGFuZGJ5IDEKc3VkbyBwbXNldCAtYSBoaWJlcm5hdGVtb2RlIDI1
			CnN1ZG8gcG1zZXQgLWEgcG93ZXJuYXAgMApzdWRvIHBtc2V0IC1h
			IHN0YW5kYnkgMApzdWRvIHBtc2V0IC1hIHN0YW5kYnlkZWxheSAw
			CnN1ZG8gcG1zZXQgLWEgYXV0b3Bvd2Vyb2ZmIDAKc3VkbyBwbXNl
			dCAtYSB3b21wIDAKc3VkbyBwbXNldCAtYSBzbGVlcCAxCnN1ZG8g
			cG1zZXQgLWEgZGlzcGxheXNsZWVwIDIKc3VkbyBwbXNldCAtYSBu
			ZXR3b3Jrb3ZlcnNsZWVwIDAKc3VkbyAvdXNyL2Jpbi9kZWZhdWx0
			cyB3cml0ZSAvdmFyL2RiL2xvY2F0aW9uZC9MaWJyYXJ5L1ByZWZl
			cmVuY2VzL0J5SG9zdC9jb20uYXBwbGUubG9jYXRpb25kIExvY2F0
			aW9uU2VydmljZXNFbmFibGVkIC1ib29sIHRydWUKc3VkbyAvdXNy
			L2Jpbi9kZWZhdWx0cyB3cml0ZSAvTGlicmFyeS9QcmVmZXJlbmNl
			cy9jb20uYXBwbGUubG9jYXRpb25tZW51LnBsaXN0IFNob3dTeXN0
			ZW1TZXJ2aWNlcyAtYm9vbCB0cnVlCnN1ZG8gL3Vzci9iaW4vc2Vj
			dXJpdHkgYXV0aG9yaXphdGlvbmRiIHdyaXRlIHN5c3RlbS5sb2dp
			bi5zY3JlZW5zYXZlciAiYXV0aGVudGljYXRlLXNlc3Npb24tb3du
			ZXIiCnN1ZG8gaWZjb25maWcgZW4wIC1hcnAKc3VkbyBsYXVuY2hj
			dGwgdW5sb2FkIC13IC9TeXN0ZW0vTGlicmFyeS9MYXVuY2hEYWVt
			b25zL2NvbS5hcHBsZS5uZXRiaW9zZC5wbGlzdApzdWRvIC91c3Iv
			c2Jpbi9zeXN0ZW1zZXR1cCAtZiAtc2V0cmVtb3RlbG9naW4gb2Zm
			ID4vZGV2L251bGwKc3VkbyBsYXVuY2hjdGwgY29uZmlnIHVzZXIg
			dW1hc2sgMDc3CmNkIC9Vc2VycwpzdWRvIGNobW9kIG9nLXJ3eCAq
			</data>
			<key>filename</key>
			<string>logouit</string>
		</dict>
	</array>
</dict>
</plist>
