<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loginscripts</key>
	<array>
		<dict>
			<key>filedata</key>
			<data>
			IyEgL2Jpbi96c2gKc3VkbyAvYmluL2xhdW5jaGN0bCBlbmFibGUg
			c3lzdGVtL2NvbS5hcHBsZS5hdWRpdGQKc3VkbyAvYmluL2xhdW5j
			aGN0bCBkaXNhYmxlIHN5c3RlbS9vcmcuYXBhY2hlLmh0dHBkCnN1
			ZG8gL2Jpbi9sYXVuY2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFw
			cGxlLm5mc2QKc3VkbyAvdXNyL2Jpbi9kc2NsIC4gLWNyZWF0ZSAv
			VXNlcnMvcm9vdCBVc2VyU2hlbGwgL3Vzci9iaW4vZmFsc2UKc3Vk
			byAvYmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5c3RlbS9jb20uYXBw
			bGUudGZ0cGQKc3VkbyAvYmluL2xhdW5jaGN0bCBsb2FkIC13IC9T
			eXN0ZW0vTGlicmFyeS9MYXVuY2hEYWVtb25zL2NvbS5hcHBsZS50
			aW1lZC5wbGlzdApzdWRvIC91c3IvYmluL3NlY3VyaXR5IGF1dGhv
			cml6YXRpb25kYiB3cml0ZSBzeXN0ZW0ubG9naW4uc2NyZWVuc2F2
			ZXIgInVzZS1sb2dpbi13aW5kb3ctdWkiCnN1ZG8gL2Jpbi9sYXVu
			Y2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFwcGxlLnV1Y3AKc3Vk
			byAvYmluL2xhdW5jaGN0bCB1bmxvYWQgLXcgL1N5c3RlbS9MaWJy
			YXJ5L0xhdW5jaERhZW1vbnMvY29tLmFwcGxlLk9EU0FnZW50LnBs
			aXN0IApzdWRvIC91c3Ivc2Jpbi9zeXNhZG1pbmN0bCAtc21iR3Vl
			c3RBY2Nlc3Mgb2ZmCnN1ZG8gL3Vzci9zYmluL2N1cHNjdGwgLS1u
			by1zaGFyZS1wcmludGVycwpzdWRvIC91c3IvYmluL2xwc3RhdCAt
			cCB8IGF3ayAne3ByaW50ICQyfSd8IC91c3IvYmluL3hhcmdzIC1J
			e30gbHBhZG1pbiAtcCB7fSAtbyBwcmludGVyLWlzLXNoYXJlZD1m
			YWxzZSAKc3VkbyAvdXNyL3NiaW4vc3lzdGVtc2V0dXAgLXNldHJl
			bW90ZWFwcGxlZXZlbnRzIG9mZgpzdWRvIC9iaW4vbGF1bmNoY3Rs
			IGRpc2FibGUgc3lzdGVtL2NvbS5hcHBsZS5BRVNlcnZlcgpzdWRv
			IC9TeXN0ZW0vTGlicmFyeS9Db3JlU2VydmljZXMvUmVtb3RlTWFu
			YWdlbWVudC9BUkRBZ2VudC5hcHAvQ29udGVudHMvUmVzb3VyY2Vz
			L2tpY2tzdGFydCAtZGVhY3RpdmF0ZSAtc3RvcApzdWRvIGxhdW5j
			aGN0bCB1bmxvYWQgLXcgL1N5c3RlbS9MaWJyYXJ5L0xhdW5jaERh
			ZW1vbnMvY29tLmFwcGxlLmZ0cC1wcm94eS5wbGlzdCAKc3VkbyAv
			YmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5c3RlbS9jb20uYXBwbGUu
			c2NyZWVuc2hhcmluZwpzdWRvIC9iaW4vbGF1bmNoY3RsIGRpc2Fi
			bGUgc3lzdGVtL2NvbS5hcHBsZS5zbWJkCnN1ZG8gL2Jpbi9sYXVu
			Y2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLm9wZW5zc2guc3NoZApz
			dWRvIC9iaW4vbGF1bmNoY3RsIGRpc2FibGUgc3lzdGVtL2NvbS5h
			cHBsZS5uZXRiaW9zZC5wbGlzdApzdWRvIC9iaW4vbGF1bmNoY3Rs
			IGVuYWJsZSBzeXN0ZW0vY29tLmFwcGxlLmF1ZGl0ZApzdWRvIC91
			c3IvYmluL2RlZmF1bHRzIC1jdXJyZW50SG9zdCB3cml0ZSBjb20u
			YXBwbGUuQmx1ZXRvb3RoIFByZWZLZXlTZXJ2aWNlc0VuYWJsZWQg
			LWJvb2wgZmFsc2UKc3VkbyBkZWZhdWx0cyB3cml0ZSAvTGlicmFy
			eS9QcmVmZXJlbmNlcy9jb20uYXBwbGUubG9naW53aW5kb3cgRW5h
			YmxlTUNYTG9naW5TY3JpcHRzIC1ib29sIFRSVUUKc3VkbyBkZWZh
			dWx0cyB3cml0ZSAvdmFyL3Jvb3QvTGlicmFyeS9QcmVmZXJlbmNl
			cy9jb20uYXBwbGUubG9naW53aW5kb3cgRW5hYmxlTUNYTG9naW5T
			Y3JpcHRzIC1ib29sIFRSVUUKc3VkbyAtdSB2YXVnaG5haGFydCAg
			L3Vzci9iaW4vZGVmYXVsdHMgLWN1cnJlbnRIb3N0IHdyaXRlIGNv
			bS5hcHBsZS5CbHVldG9vdGggUHJlZktleVNlcnZpY2VzRW5hYmxl
			ZCAtYm9vbCBmYWxzZQpzdWRvIC91c3Ivc2Jpbi9udnJhbSBib290
			LWFyZ3M9IiIKc3VkbyBwbXNldCAtYSBkZXN0cm95ZnZrZXlvbnN0
			YW5kYnkgMQpzdWRvIHBtc2V0IC1hIGhpYmVybmF0ZW1vZGUgMjUK
			c3VkbyBwbXNldCAtYSBwb3dlcm5hcCAwCnN1ZG8gcG1zZXQgLWEg
			c3RhbmRieSAwCnN1ZG8gcG1zZXQgLWEgc3RhbmRieWRlbGF5IDAK
			c3VkbyBwbXNldCAtYSBhdXRvcG93ZXJvZmYgMApzdWRvIHBtc2V0
			IC1hIHdvbXAgMApzdWRvIHBtc2V0IC1hIHNsZWVwIDEKc3VkbyBw
			bXNldCAtYSBkaXNwbGF5c2xlZXAgMgpzdWRvIHBtc2V0IC1hIG5l
			dHdvcmtvdmVyc2xlZXAgMApzdWRvIC91c3IvYmluL2RlZmF1bHRz
			IHdyaXRlIC92YXIvZGIvbG9jYXRpb25kL0xpYnJhcnkvUHJlZmVy
			ZW5jZXMvQnlIb3N0L2NvbS5hcHBsZS5sb2NhdGlvbmQgTG9jYXRp
			b25TZXJ2aWNlc0VuYWJsZWQgLWJvb2wgdHJ1ZQpzdWRvIC91c3Iv
			YmluL2RlZmF1bHRzIHdyaXRlIC9MaWJyYXJ5L1ByZWZlcmVuY2Vz
			L2NvbS5hcHBsZS5sb2NhdGlvbm1lbnUucGxpc3QgU2hvd1N5c3Rl
			bVNlcnZpY2VzIC1ib29sIHRydWUKc3VkbyAvdXNyL2Jpbi9zZWN1
			cml0eSBhdXRob3JpemF0aW9uZGIgd3JpdGUgc3lzdGVtLmxvZ2lu
			LnNjcmVlbnNhdmVyICJhdXRoZW50aWNhdGUtc2Vzc2lvbi1vd25l
			ciIKc3VkbyBpZmNvbmZpZyBlbjAgLWFycApzdWRvIGxhdW5jaGN0
			bCB1bmxvYWQgLXcgL1N5c3RlbS9MaWJyYXJ5L0xhdW5jaERhZW1v
			bnMvY29tLmFwcGxlLm5ldGJpb3NkLnBsaXN0CnN1ZG8gL3Vzci9z
			YmluL3N5c3RlbXNldHVwIC1mIC1zZXRyZW1vdGVsb2dpbiBvZmYg
			Pi9kZXYvbnVsbApzdWRvIGxhdW5jaGN0bCBjb25maWcgdXNlciB1
			bWFzayAwNzcKY2QgL1VzZXJzCnN1ZG8gY2htb2Qgb2ctcnd4ICoK
			c3VkbyB0b3VjaCB+L0Rvd25sb2Fkcy9uZXdmaWxlLnR4dA==
			</data>
			<key>filename</key>
			<string>login</string>
		</dict>
	</array>
	<key>logoutscripts</key>
	<array>
		<dict>
			<key>filedata</key>
			<data>
			IyEgL2Jpbi96c2gKc3VkbyAvYmluL2xhdW5jaGN0bCBlbmFibGUg
			c3lzdGVtL2NvbS5hcHBsZS5hdWRpdGQKc3VkbyAvYmluL2xhdW5j
			aGN0bCBkaXNhYmxlIHN5c3RlbS9vcmcuYXBhY2hlLmh0dHBkCnN1
			ZG8gL2Jpbi9sYXVuY2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFw
			cGxlLm5mc2QKc3VkbyAvdXNyL2Jpbi9kc2NsIC4gLWNyZWF0ZSAv
			VXNlcnMvcm9vdCBVc2VyU2hlbGwgL3Vzci9iaW4vZmFsc2UKc3Vk
			byAvYmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5c3RlbS9jb20uYXBw
			bGUudGZ0cGQKc3VkbyAvYmluL2xhdW5jaGN0bCBsb2FkIC13IC9T
			eXN0ZW0vTGlicmFyeS9MYXVuY2hEYWVtb25zL2NvbS5hcHBsZS50
			aW1lZC5wbGlzdApzdWRvIC91c3IvYmluL3NlY3VyaXR5IGF1dGhv
			cml6YXRpb25kYiB3cml0ZSBzeXN0ZW0ubG9naW4uc2NyZWVuc2F2
			ZXIgInVzZS1sb2dpbi13aW5kb3ctdWkiCnN1ZG8gL2Jpbi9sYXVu
			Y2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLmFwcGxlLnV1Y3AKc3Vk
			byAvYmluL2xhdW5jaGN0bCB1bmxvYWQgLXcgL1N5c3RlbS9MaWJy
			YXJ5L0xhdW5jaERhZW1vbnMvY29tLmFwcGxlLk9EU0FnZW50LnBs
			aXN0IApzdWRvIC91c3Ivc2Jpbi9zeXNhZG1pbmN0bCAtc21iR3Vl
			c3RBY2Nlc3Mgb2ZmCnN1ZG8gL3Vzci9zYmluL2N1cHNjdGwgLS1u
			by1zaGFyZS1wcmludGVycwpzdWRvIC91c3IvYmluL2xwc3RhdCAt
			cCB8IGF3ayAne3ByaW50ICQyfSd8IC91c3IvYmluL3hhcmdzIC1J
			e30gbHBhZG1pbiAtcCB7fSAtbyBwcmludGVyLWlzLXNoYXJlZD1m
			YWxzZSAKc3VkbyAvdXNyL3NiaW4vc3lzdGVtc2V0dXAgLXNldHJl
			bW90ZWFwcGxlZXZlbnRzIG9mZgpzdWRvIC9iaW4vbGF1bmNoY3Rs
			IGRpc2FibGUgc3lzdGVtL2NvbS5hcHBsZS5BRVNlcnZlcgpzdWRv
			IC9TeXN0ZW0vTGlicmFyeS9Db3JlU2VydmljZXMvUmVtb3RlTWFu
			YWdlbWVudC9BUkRBZ2VudC5hcHAvQ29udGVudHMvUmVzb3VyY2Vz
			L2tpY2tzdGFydCAtZGVhY3RpdmF0ZSAtc3RvcApzdWRvIGxhdW5j
			aGN0bCB1bmxvYWQgLXcgL1N5c3RlbS9MaWJyYXJ5L0xhdW5jaERh
			ZW1vbnMvY29tLmFwcGxlLmZ0cC1wcm94eS5wbGlzdCAKc3VkbyAv
			YmluL2xhdW5jaGN0bCBkaXNhYmxlIHN5c3RlbS9jb20uYXBwbGUu
			c2NyZWVuc2hhcmluZwpzdWRvIC9iaW4vbGF1bmNoY3RsIGRpc2Fi
			bGUgc3lzdGVtL2NvbS5hcHBsZS5zbWJkCnN1ZG8gL2Jpbi9sYXVu
			Y2hjdGwgZGlzYWJsZSBzeXN0ZW0vY29tLm9wZW5zc2guc3NoZApz
			dWRvIC9iaW4vbGF1bmNoY3RsIGRpc2FibGUgc3lzdGVtL2NvbS5h
			cHBsZS5uZXRiaW9zZC5wbGlzdApzdWRvIC9iaW4vbGF1bmNoY3Rs
			IGVuYWJsZSBzeXN0ZW0vY29tLmFwcGxlLmF1ZGl0ZApzdWRvIC91
			c3IvYmluL2RlZmF1bHRzIC1jdXJyZW50SG9zdCB3cml0ZSBjb20u
			YXBwbGUuQmx1ZXRvb3RoIFByZWZLZXlTZXJ2aWNlc0VuYWJsZWQg
			LWJvb2wgZmFsc2UKc3VkbyBkZWZhdWx0cyB3cml0ZSAvTGlicmFy
			eS9QcmVmZXJlbmNlcy9jb20uYXBwbGUubG9naW53aW5kb3cgRW5h
			YmxlTUNYTG9naW5TY3JpcHRzIC1ib29sIFRSVUUKc3VkbyBkZWZh
			dWx0cyB3cml0ZSAvdmFyL3Jvb3QvTGlicmFyeS9QcmVmZXJlbmNl
			cy9jb20uYXBwbGUubG9naW53aW5kb3cgRW5hYmxlTUNYTG9naW5T
			Y3JpcHRzIC1ib29sIFRSVUUKc3VkbyAtdSB2YXVnaG5haGFydCAg
			L3Vzci9iaW4vZGVmYXVsdHMgLWN1cnJlbnRIb3N0IHdyaXRlIGNv
			bS5hcHBsZS5CbHVldG9vdGggUHJlZktleVNlcnZpY2VzRW5hYmxl
			ZCAtYm9vbCBmYWxzZQpzdWRvIC91c3Ivc2Jpbi9udnJhbSBib290
			LWFyZ3M9IiIKc3VkbyBwbXNldCAtYSBkZXN0cm95ZnZrZXlvbnN0
			YW5kYnkgMQpzdWRvIHBtc2V0IC1hIGhpYmVybmF0ZW1vZGUgMjUK
			c3VkbyBwbXNldCAtYSBwb3dlcm5hcCAwCnN1ZG8gcG1zZXQgLWEg
			c3RhbmRieSAwCnN1ZG8gcG1zZXQgLWEgc3RhbmRieWRlbGF5IDAK
			c3VkbyBwbXNldCAtYSBhdXRvcG93ZXJvZmYgMApzdWRvIHBtc2V0
			IC1hIHdvbXAgMApzdWRvIHBtc2V0IC1hIHNsZWVwIDEKc3VkbyBw
			bXNldCAtYSBkaXNwbGF5c2xlZXAgMgpzdWRvIHBtc2V0IC1hIG5l
			dHdvcmtvdmVyc2xlZXAgMApzdWRvIC91c3IvYmluL2RlZmF1bHRz
			IHdyaXRlIC92YXIvZGIvbG9jYXRpb25kL0xpYnJhcnkvUHJlZmVy
			ZW5jZXMvQnlIb3N0L2NvbS5hcHBsZS5sb2NhdGlvbmQgTG9jYXRp
			b25TZXJ2aWNlc0VuYWJsZWQgLWJvb2wgdHJ1ZQpzdWRvIC91c3Iv
			YmluL2RlZmF1bHRzIHdyaXRlIC9MaWJyYXJ5L1ByZWZlcmVuY2Vz
			L2NvbS5hcHBsZS5sb2NhdGlvbm1lbnUucGxpc3QgU2hvd1N5c3Rl
			bVNlcnZpY2VzIC1ib29sIHRydWUKc3VkbyAvdXNyL2Jpbi9zZWN1
			cml0eSBhdXRob3JpemF0aW9uZGIgd3JpdGUgc3lzdGVtLmxvZ2lu
			LnNjcmVlbnNhdmVyICJhdXRoZW50aWNhdGUtc2Vzc2lvbi1vd25l
			ciIKc3VkbyBpZmNvbmZpZyBlbjAgLWFycApzdWRvIGxhdW5jaGN0
			bCB1bmxvYWQgLXcgL1N5c3RlbS9MaWJyYXJ5L0xhdW5jaERhZW1v
			bnMvY29tLmFwcGxlLm5ldGJpb3NkLnBsaXN0CnN1ZG8gL3Vzci9z
			YmluL3N5c3RlbXNldHVwIC1mIC1zZXRyZW1vdGVsb2dpbiBvZmYg
			Pi9kZXYvbnVsbApzdWRvIGxhdW5jaGN0bCBjb25maWcgdXNlciB1
			bWFzayAwNzcKY2QgL1VzZXJzCnN1ZG8gY2htb2Qgb2ctcnd4ICo=
			</data>
			<key>filename</key>
			<string>logouit</string>
		</dict>
	</array>
</dict>
</plist>
