<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OS_version</key>
	<string>macOS Version 14.5 (Build 23F79)</string>
	<key>VallumES_build</key>
	<string>201</string>
	<key>VallumES_version</key>
	<string>Vallum Endpoint Security 1.0 beta 1 (build 201)</string>
	<key>created_by</key>
	<string>vaughnhart</string>
	<key>creation_date</key>
	<date>2024-07-21T19:31:38Z</date>
	<key>defaultPolicy</key>
	<integer>1</integer>
	<key>encodedRuleset</key>
	<array>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhISEhISEhISEzMzU1MzghXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIACgACAAIAAgACAAIAAgACAAIAACAgJCQiABIAApTs8PUJIVSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt2653IAD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3RaUk5MRzI1NEdDSwAI
		ABEAGgAkACkAMgA3AEkAfgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADzAPsB
		BwENARgBIAEkATABOwFBAU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXABcgF0
		AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGHAYkBjwGVAZcBnAGkAasBtAG2AbsB
		xgHPAdYB2QHiAAAAAAAAAgEAAAAAAAAASQAAAAAAAAAAAAAAAAAAAe0=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnKCkhISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGABIACgACAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PUIzVSRudWxs
		EALSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27LU4AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QIAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkqISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIADgAKAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PT5DVSRudWxs
		EAJeL0FwcGxpY2F0aW9ucy/SP0BBQldOUy50aW1lViRjbGFzcyNBxibMt27Q
		q4AE0kRFRkdaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRkhYTlNPYmpl
		Y3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCyALkAwADIANUA2gDgAOwA
		8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWABYgFkAWYBaAFqAWwBbgFw
		AXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJAY8BlQGXAaYBqwGzAboB
		wwHFAcoB1QHeAeUB6AAAAAAAAAIBAAAAAAAAAEkAAAAAAAAAAAAAAAAAAAHx
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkqISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIADgAKAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PT5DVSRudWxs
		EAJfEBUvU3lzdGVtL0FwcGxpY2F0aW9ucy/SP0BBQldOUy50aW1lViRjbGFz
		cyNBxibMt27VWoAE0kRFRkdaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWi
		RkhYTlNPYmplY3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCyALkAwADI
		ANUA2gDgAOwA8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWABYgFkAWYB
		aAFqAWwBbgFwAXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJAY8BlQGX
		Aa8BtAG8AcMBzAHOAdMB3gHnAe4B8QAAAAAAAAIBAAAAAAAAAEkAAAAAAAAA
		AAAAAAAAAAH6
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhIiEhISEnISkqISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACABYAAgACAAIAA
		gAGAAIADgAKAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApjs8PT5DSVUkbnVs
		bBACUS/SP0BBQldOUy50aW1lViRjbGFzcyNBxibMt27ay4AE0kRFRkdaJGNs
		YXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRkhYTlNPYmplY3QQAAAIABEAGgAk
		ACkAMgA3AEkAfgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADzAPsBBwENARgB
		IAEkATABOwFBAU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXABcgF0AXYBeAF6
		AXwBfgGAAYEBggGDAYQBhQGHAYkBkAGWAZgBmgGfAacBrgG3AbkBvgHJAdIB
		2QHcAeUAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAB5w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnKCkhISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGABIACgACAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PUI1VSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27tq4AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QJAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhJSEnISkhISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACABIAA
		gAGAAIACgACAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PUI1VSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27ziIAD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QJAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhISEtISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIACgACAAIAAgASAAIAAgACAAIAACAgJCAiAAIAApTs8PUIzVSRudWxs
		EADSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27434AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QIAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
	</array>
</dict>
</plist>
