<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OS_version</key>
	<string>macOS Version 14.6.1 (Build 23G93)</string>
	<key>VallumES_build</key>
	<string>201</string>
	<key>VallumES_version</key>
	<string>Vallum Endpoint Security 1.0 beta 1 (build 201)</string>
	<key>created_by</key>
	<string>vaughnhart</string>
	<key>creation_date</key>
	<date>2024-09-01T22:02:42Z</date>
	<key>defaultPolicy</key>
	<integer>1</integer>
	<key>encodedRuleset</key>
	<array>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhISEhISEhISEzMzU1MzghXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIACgACAAIAAgACAAIAAgACAAIAACAgJCQiABIAApTs8PUJIVSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt2653IAD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3RaUk5MRzI1NEdDSwAI
		ABEAGgAkACkAMgA3AEkAfgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADzAPsB
		BwENARgBIAEkATABOwFBAU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXABcgF0
		AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGHAYkBjwGVAZcBnAGkAasBtAG2AbsB
		xgHPAdYB2QHiAAAAAAAAAgEAAAAAAAAASQAAAAAAAAAAAAAAAAAAAe0=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhISEhISEhISEzNDMzNDghXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIACgACAAIAAgACAAIAAgACAAIAACQgJCQiABIAApTs8PUJIVSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxkKN7Vw4O4AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3RaREU4WTk2SzlRUAAI
		ABEAGgAkACkAMgA3AEkAfgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADzAPsB
		BwENARgBIAEkATABOwFBAU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXABcgF0
		AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGHAYkBjwGVAZcBnAGkAasBtAG2AbsB
		xgHPAdYB2QHiAAAAAAAAAgEAAAAAAAAASQAAAAAAAAAAAAAAAAAAAe0=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnKCkhISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGABIACgACAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PUIzVSRudWxs
		EALSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27LU4AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QIAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkqISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIADgAKAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PT5DVSRudWxs
		EAJeL0FwcGxpY2F0aW9ucy/SP0BBQldOUy50aW1lViRjbGFzcyNBxibMt27Q
		q4AE0kRFRkdaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRkhYTlNPYmpl
		Y3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCyALkAwADIANUA2gDgAOwA
		8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWABYgFkAWYBaAFqAWwBbgFw
		AXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJAY8BlQGXAaYBqwGzAboB
		wwHFAcoB1QHeAeUB6AAAAAAAAAIBAAAAAAAAAEkAAAAAAAAAAAAAAAAAAAHx
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkqISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIADgAKAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PT5DVSRudWxs
		EAJfEBUvU3lzdGVtL0FwcGxpY2F0aW9ucy/SP0BBQldOUy50aW1lViRjbGFz
		cyNBxibMt27VWoAE0kRFRkdaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWi
		RkhYTlNPYmplY3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCyALkAwADI
		ANUA2gDgAOwA8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWABYgFkAWYB
		aAFqAWwBbgFwAXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJAY8BlQGX
		Aa8BtAG8AcMBzAHOAdMB3gHnAe4B8QAAAAAAAAIBAAAAAAAAAEkAAAAAAAAA
		AAAAAAAAAAH6
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhIiEhISEnISkqISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACABYAAgACAAIAA
		gAGAAIADgAKAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApjs8PT5DSVUkbnVs
		bBACUS/SP0BBQldOUy50aW1lViRjbGFzcyNBxibMt27ay4AE0kRFRkdaJGNs
		YXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRkhYTlNPYmplY3QQAAAIABEAGgAk
		ACkAMgA3AEkAfgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADzAPsBBwENARgB
		IAEkATABOwFBAU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXABcgF0AXYBeAF6
		AXwBfgGAAYEBggGDAYQBhQGHAYkBkAGWAZgBmgGfAacBrgG3AbkBvgHJAdIB
		2QHcAeUAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAB5w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnKCkhISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGABIACgACAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PUI1VSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27tq4AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QJAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhJSEnISkhISEhISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACABIAA
		gAGAAIACgACAAIAAgACAAIAAgACAAIAACAgJCAiAAIAApTs8PUI1VSRudWxs
		EAHSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27ziIAD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QJAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhISEtISEhISEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIACgACAAIAAgASAAIAAgACAAIAACAgJCAiAAIAApTs8PUIzVSRudWxs
		EADSPj9AQVdOUy50aW1lViRjbGFzcyNBxibMt27434AD0kNERUZaJGNsYXNz
		bmFtZVgkY2xhc3Nlc1ZOU0RhdGWiRUdYTlNPYmplY3QIAAgAEQAaACQAKQAy
		ADcASQB+AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQB
		MAE7AUEBTQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+
		AYABgQGCAYMBhAGFAYcBiQGPAZUBlwGcAaQBqwG0AbYBuwHGAc8B1gHZAeIA
		AAAAAAACAQAAAAAAAABJAAAAAAAAAAAAAAAAAAAB4w==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QsPreDAAAAACwAAAAAQAAAAYAAAACAAAAI2NvbS5EaWdpRE5BLmlN
		YXppbmdQcm9maWxlRWRpdG9yTWFjAAAAAAYAAAAPAAAABgAAAA4AAAABAAAA
		CiqGSIb3Y2QGAgYAAAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAA
		AAAAAAAAAAsAAAAAAAAACnN1YmplY3QuT1UAAAAAAAEAAAAKSjVQUjkzNjky
		WQAAXxAjY29tLkRpZ2lETkEuaU1hemluZ1Byb2ZpbGVFZGl0b3JNYWNfEE4v
		QXBwbGljYXRpb25zL2lNYXppbmcgUHJvZmlsZSBFZGl0b3IuYXBwL0NvbnRl
		bnRzL01hY09TL2lNYXppbmcgUHJvZmlsZSBFZGl0b3LSQUJDRFdOUy50aW1l
		ViRjbGFzcyNBxjAYoEXAI4AG0kZHSElaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZO
		U0RhdGWiSEpYTlNPYmplY3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCy
		ALkAwADIANUA2gDgAOwA8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWAB
		YgFkAWYBaAFqAWwBbgFwAXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJ
		AZEBlwGZAkwCcgLDAsgC0ALXAuAC4gLnAvIC+wMCAwUAAAAAAAACAQAAAAAA
		AABLAAAAAAAAAAAAAAAAAAADDg==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QsPreDAAAAACwAAAAAQAAAAYAAAACAAAAI29yZy5zcGFya2xlLXBy
		b2plY3QuSW5zdGFsbGVyU3RhdHVzAAAAAAYAAAAPAAAABgAAAA4AAAABAAAA
		CiqGSIb3Y2QGAgYAAAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAA
		AAAAAAAAAAsAAAAAAAAACnN1YmplY3QuT1UAAAAAAAEAAAAKSjVQUjkzNjky
		WQAAXxAjb3JnLnNwYXJrbGUtcHJvamVjdC5JbnN0YWxsZXJTdGF0dXNfEJgv
		QXBwbGljYXRpb25zL2lNYXppbmcgUHJvZmlsZSBFZGl0b3IuYXBwL0NvbnRl
		bnRzL1hQQ1NlcnZpY2VzL29yZy5zcGFya2xlLXByb2plY3QuSW5zdGFsbGVy
		U3RhdHVzLnhwYy9Db250ZW50cy9NYWNPUy9vcmcuc3BhcmtsZS1wcm9qZWN0
		Lkluc3RhbGxlclN0YXR1c9JBQkNEV05TLnRpbWVWJGNsYXNzI0HGMBiikmfx
		gAbSRkdISVokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaJISlhOU09iamVj
		dAAIABEAGgAkACkAMgA3AEkAfgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADz
		APsBBwENARgBIAEkATABOwFBAU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXAB
		cgF0AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGHAYkBkQGXAZkCTAJyAw0DEgMa
		AyEDKgMsAzEDPANFA0wDTwAAAAAAAAIBAAAAAAAAAEsAAAAAAAAAAAAAAAAA
		AANY
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QrPreDAAAAACsAAAAAQAAAAYAAAACAAAAHm9yZy5zcGFya2xlLXBy
		b2plY3QuRG93bmxvYWRlcgAAAAAABgAAAA8AAAAGAAAADgAAAAEAAAAKKoZI
		hvdjZAYCBgAAAAAAAAAAAAYAAAAOAAAAAAAAAAoqhkiG92NkBgENAAAAAAAA
		AAAACwAAAAAAAAAKc3ViamVjdC5PVQAAAAAAAQAAAApKNVBSOTM2OTJZAABf
		EB5vcmcuc3BhcmtsZS1wcm9qZWN0LkRvd25sb2FkZXJfEI4vQXBwbGljYXRp
		b25zL2lNYXppbmcgUHJvZmlsZSBFZGl0b3IuYXBwL0NvbnRlbnRzL1hQQ1Nl
		cnZpY2VzL29yZy5zcGFya2xlLXByb2plY3QuRG93bmxvYWRlci54cGMvQ29u
		dGVudHMvTWFjT1Mvb3JnLnNwYXJrbGUtcHJvamVjdC5Eb3dubG9hZGVy0kFC
		Q0RXTlMudGltZVYkY2xhc3MjQcYwGKMuEJWABtJGR0hJWiRjbGFzc25hbWVY
		JGNsYXNzZXNWTlNEYXRlokhKWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQB+
		AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQBMAE7AUEB
		TQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+AYABgQGC
		AYMBhAGFAYcBiQGRAZcBmQJIAmkC+gL/AwcDDgMXAxkDHgMpAzIDOQM8AAAA
		AAAAAgEAAAAAAAAASwAAAAAAAAAAAAAAAAAAA0U=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QpPreDAAAAACkAAAAAQAAAAYAAAACAAAAF29yZy53aXJlc2hhcmsu
		V2lyZXNoYXJrAAAAAAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYA
		AAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAA
		AAAACnN1YmplY3QuT1UAAAAAAAEAAAAKN1o2RU1URDJDNgAAXxAXb3JnLndp
		cmVzaGFyay5XaXJlc2hhcmtfEDQvQXBwbGljYXRpb25zL1dpcmVzaGFyay5h
		cHAvQ29udGVudHMvTWFjT1MvV2lyZXNoYXJr0kFCQ0RXTlMudGltZVYkY2xh
		c3MjQcYwGK42izOABtJGR0hJWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRl
		okhKWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQB+AIsAkgCZAKUAsgC5AMAA
		yADVANoA4ADsAPMA+wEHAQ0BGAEgASQBMAE7AUEBTQFUAVwBXgFgAWIBZAFm
		AWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+AYABgQGCAYMBhAGFAYcBiQGRAZcB
		mQJAAloCkQKWAp4CpQKuArACtQLAAskC0ALTAAAAAAAAAgEAAAAAAAAASwAA
		AAAAAAAAAAAAAAAAAtw=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QvPreDAAAAAC8AAAAAQAAAAYAAAAGAAAADwAAAAIAAAAOY29tLnV0
		bWFwcC5VVE0AAAAAAAcAAAAOAAAAAAAAAAoqhkiG92NkBgEJAAAAAAAAAAAA
		BgAAAAYAAAAOAAAAAQAAAAoqhkiG92NkBgIGAAAAAAAAAAAADgAAAAAAAAAK
		KoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAAAAAACnN1YmplY3QuT1UAAAAAAAEA
		AAAKV0ROTFhBRDRXOAAAXmNvbS51dG1hcHAuVVRNXxAoL0FwcGxpY2F0aW9u
		cy9VVE0uYXBwL0NvbnRlbnRzL01hY09TL1VUTdJBQkNEV05TLnRpbWVWJGNs
		YXNzI0HGMBivSbO3gAbSRkdISVokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0
		ZaJISlhOU09iamVjdAAIABEAGgAkACkAMgA3AEkAfgCLAJIAmQClALIAuQDA
		AMgA1QDaAOAA7ADzAPsBBwENARgBIAEkATABOwFBAU0BVAFcAV4BYAFiAWQB
		ZgFoAWoBbAFuAXABcgF0AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGHAYkBkQGX
		AZkCWAJnApIClwKfAqYCrwKxArYCwQLKAtEC1AAAAAAAAAIBAAAAAAAAAEsA
		AAAAAAAAAAAAAAAAAALd
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QqPreDAAAAACoAAAAAQAAAAYAAAACAAAAGW9yZy53aXJlc2hhcmsu
		YW5kcm9pZGR1bXAAAAAAAAAGAAAADwAAAAYAAAAOAAAAAQAAAAoqhkiG92Nk
		BgIGAAAAAAAAAAAABgAAAA4AAAAAAAAACiqGSIb3Y2QGAQ0AAAAAAAAAAAAL
		AAAAAAAAAApzdWJqZWN0Lk9VAAAAAAABAAAACjdaNkVNVEQyQzYAAF8QGW9y
		Zy53aXJlc2hhcmsuYW5kcm9pZGR1bXBfED0vQXBwbGljYXRpb25zL1dpcmVz
		aGFyay5hcHAvQ29udGVudHMvTWFjT1MvZXh0Y2FwL2FuZHJvaWRkdW1w0kFC
		Q0RXTlMudGltZVYkY2xhc3MjQcYwGK/FinaABtJGR0hJWiRjbGFzc25hbWVY
		JGNsYXNzZXNWTlNEYXRlokhKWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQB+
		AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQBMAE7AUEB
		TQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+AYABgQGC
		AYMBhAGFAYcBiQGRAZcBmQJEAmACoAKlAq0CtAK9Ar8CxALPAtgC3wLiAAAA
		AAAAAgEAAAAAAAAASwAAAAAAAAAAAAAAAAAAAus=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QqPreDAAAAACoAAAAAQAAAAYAAAACAAAAGW9yZy53aXJlc2hhcmsu
		cmFuZHBrdGR1bXAAAAAAAAAGAAAADwAAAAYAAAAOAAAAAQAAAAoqhkiG92Nk
		BgIGAAAAAAAAAAAABgAAAA4AAAAAAAAACiqGSIb3Y2QGAQ0AAAAAAAAAAAAL
		AAAAAAAAAApzdWJqZWN0Lk9VAAAAAAABAAAACjdaNkVNVEQyQzYAAF8QGW9y
		Zy53aXJlc2hhcmsucmFuZHBrdGR1bXBfED0vQXBwbGljYXRpb25zL1dpcmVz
		aGFyay5hcHAvQ29udGVudHMvTWFjT1MvZXh0Y2FwL3JhbmRwa3RkdW1w0kFC
		Q0RXTlMudGltZVYkY2xhc3MjQcYwGLArtl+ABtJGR0hJWiRjbGFzc25hbWVY
		JGNsYXNzZXNWTlNEYXRlokhKWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQB+
		AIsAkgCZAKUAsgC5AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQBMAE7AUEB
		TQFUAVwBXgFgAWIBZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+AYABgQGC
		AYMBhAGFAYcBiQGRAZcBmQJEAmACoAKlAq0CtAK9Ar8CxALPAtgC3wLiAAAA
		AAAAAgEAAAAAAAAASwAAAAAAAAAAAAAAAAAAAus=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QpPreDAAAAACkAAAAAQAAAAYAAAACAAAAF29yZy53aXJlc2hhcmsu
		Y2lzY29kdW1wAAAAAAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYA
		AAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAA
		AAAACnN1YmplY3QuT1UAAAAAAAEAAAAKN1o2RU1URDJDNgAAXxAXb3JnLndp
		cmVzaGFyay5jaXNjb2R1bXBfEDsvQXBwbGljYXRpb25zL1dpcmVzaGFyay5h
		cHAvQ29udGVudHMvTWFjT1MvZXh0Y2FwL2Npc2NvZHVtcNJBQkNEV05TLnRp
		bWVWJGNsYXNzI0HGMBiwjhLxgAbSRkdISVokY2xhc3NuYW1lWCRjbGFzc2Vz
		Vk5TRGF0ZaJISlhOU09iamVjdAAIABEAGgAkACkAMgA3AEkAfgCLAJIAmQCl
		ALIAuQDAAMgA1QDaAOAA7ADzAPsBBwENARgBIAEkATABOwFBAU0BVAFcAV4B
		YAFiAWQBZgFoAWoBbAFuAXABcgF0AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGH
		AYkBkQGXAZkCQAJaApgCnQKlAqwCtQK3ArwCxwLQAtcC2gAAAAAAAAIBAAAA
		AAAAAEsAAAAAAAAAAAAAAAAAAALj
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QpPreDAAAAACkAAAAAQAAAAYAAAACAAAAFW9yZy53aXJlc2hhcmsu
		dWRwZHVtcAAAAAAAAAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYA
		AAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAA
		AAAACnN1YmplY3QuT1UAAAAAAAEAAAAKN1o2RU1URDJDNgAAXxAVb3JnLndp
		cmVzaGFyay51ZHBkdW1wXxA5L0FwcGxpY2F0aW9ucy9XaXJlc2hhcmsuYXBw
		L0NvbnRlbnRzL01hY09TL2V4dGNhcC91ZHBkdW1w0kFCQ0RXTlMudGltZVYk
		Y2xhc3MjQcYwGLDfFpCABtJGR0hJWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNE
		YXRlokhKWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQB+AIsAkgCZAKUAsgC5
		AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQBMAE7AUEBTQFUAVwBXgFgAWIB
		ZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+AYABgQGCAYMBhAGFAYcBiQGR
		AZcBmQJAAlgClAKZAqECqAKxArMCuALDAswC0wLWAAAAAAAAAgEAAAAAAAAA
		SwAAAAAAAAAAAAAAAAAAAt8=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QpPreDAAAAACkAAAAAQAAAAYAAAACAAAAFm9yZy53aXJlc2hhcmsu
		d2lmaWR1bXAAAAAAAAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYA
		AAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAA
		AAAACnN1YmplY3QuT1UAAAAAAAEAAAAKN1o2RU1URDJDNgAAXxAWb3JnLndp
		cmVzaGFyay53aWZpZHVtcF8QOi9BcHBsaWNhdGlvbnMvV2lyZXNoYXJrLmFw
		cC9Db250ZW50cy9NYWNPUy9leHRjYXAvd2lmaWR1bXDSQUJDRFdOUy50aW1l
		ViRjbGFzcyNBxjAYsfJdhYAG0kZHSElaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZO
		U0RhdGWiSEpYTlNPYmplY3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCy
		ALkAwADIANUA2gDgAOwA8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWAB
		YgFkAWYBaAFqAWwBbgFwAXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJ
		AZEBlwGZAkACWQKWApsCowKqArMCtQK6AsUCzgLVAtgAAAAAAAACAQAAAAAA
		AABLAAAAAAAAAAAAAAAAAAAC4Q==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QpPreDAAAAACkAAAAAQAAAAYAAAACAAAAFW9yZy53aXJlc2hhcmsu
		c3NoZHVtcAAAAAAAAAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYA
		AAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAA
		AAAACnN1YmplY3QuT1UAAAAAAAEAAAAKN1o2RU1URDJDNgAAXxAVb3JnLndp
		cmVzaGFyay5zc2hkdW1wXxA5L0FwcGxpY2F0aW9ucy9XaXJlc2hhcmsuYXBw
		L0NvbnRlbnRzL01hY09TL2V4dGNhcC9zc2hkdW1w0kFCQ0RXTlMudGltZVYk
		Y2xhc3MjQcYwGLMQMYyABtJGR0hJWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNE
		YXRlokhKWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQB+AIsAkgCZAKUAsgC5
		AMAAyADVANoA4ADsAPMA+wEHAQ0BGAEgASQBMAE7AUEBTQFUAVwBXgFgAWIB
		ZAFmAWgBagFsAW4BcAFyAXQBdgF4AXoBfAF+AYABgQGCAYMBhAGFAYcBiQGR
		AZcBmQJAAlgClAKZAqECqAKxArMCuALDAswC0wLWAAAAAAAAAgEAAAAAAAAA
		SwAAAAAAAAAAAAAAAAAAAt8=
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QpPreDAAAAACkAAAAAQAAAAYAAAACAAAAFW9yZy53aXJlc2hhcmsu
		ZHVtcGNhcAAAAAAAAAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYA
		AAAAAAAAAAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAA
		AAAACnN1YmplY3QuT1UAAAAAAAEAAAAKN1o2RU1URDJDNgAAXxAVb3JnLndp
		cmVzaGFyay5kdW1wY2FwXxAyL0FwcGxpY2F0aW9ucy9XaXJlc2hhcmsuYXBw
		L0NvbnRlbnRzL01hY09TL2R1bXBjYXDSQUJDRFdOUy50aW1lViRjbGFzcyNB
		xjAYs8muT4AG0kZHSElaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0RhdGWiSEpY
		TlNPYmplY3QACAARABoAJAApADIANwBJAH4AiwCSAJkApQCyALkAwADIANUA
		2gDgAOwA8wD7AQcBDQEYASABJAEwATsBQQFNAVQBXAFeAWABYgFkAWYBaAFq
		AWwBbgFwAXIBdAF2AXgBegF8AX4BgAGBAYIBgwGEAYUBhwGJAZEBlwGZAkAC
		WAKNApICmgKhAqoCrAKxArwCxQLMAs8AAAAAAAACAQAAAAAAAABLAAAAAAAA
		AAAAAAAAAAAC2A==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QxPreDAAAAADEAAAAAQAAAAYAAAAGAAAADwAAAAIAAAAVY29tLnV0
		bWFwcC5RRU1VSGVscGVyAAAAAAAABwAAAA4AAAAAAAAACiqGSIb3Y2QGAQkA
		AAAAAAAAAAAGAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYAAAAAAAAAAAAO
		AAAAAAAAAAoqhkiG92NkBgENAAAAAAAAAAAACwAAAAAAAAAKc3ViamVjdC5P
		VQAAAAAAAQAAAApXRE5MWEFENFc4AABfEBVjb20udXRtYXBwLlFFTVVIZWxw
		ZXJfEFMvQXBwbGljYXRpb25zL1VUTS5hcHAvQ29udGVudHMvWFBDU2Vydmlj
		ZXMvUUVNVUhlbHBlci54cGMvQ29udGVudHMvTWFjT1MvUUVNVUhlbHBlctJB
		QkNEV05TLnRpbWVWJGNsYXNzI0HGMBi6pZPNgAbSRkdISVokY2xhc3NuYW1l
		WCRjbGFzc2VzVk5TRGF0ZaJISlhOU09iamVjdAAIABEAGgAkACkAMgA3AEkA
		fgCLAJIAmQClALIAuQDAAMgA1QDaAOAA7ADzAPsBBwENARgBIAEkATABOwFB
		AU0BVAFcAV4BYAFiAWQBZgFoAWoBbAFuAXABcgF0AXYBeAF6AXwBfgGAAYEB
		ggGDAYQBhQGHAYkBkQGXAZkCYAJ4As4C0wLbAuIC6wLtAvIC/QMGAw0DEAAA
		AAAAAAIBAAAAAAAAAEsAAAAAAAAAAAAAAAAAAAMZ
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBzpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QGQgJCgsMDQ4PEBESExQV
		FhcYGRobHB0eHyAhISEhISEnISkhKyEhIS8hMSEzMzUzMyEhXHJhcHBpY29u
		cGF0aFZ1c2VyaWRWZXhwaXJlW2lzc3lzdGVtYXBwXGlzYXBwbGVzdG9yZVZy
		c3RhbXBWYWN0aW9uV2lzYXBwbGVcY3JlYXRpb25kYXRlVHBhdGhVc3RhbXBb
		cmlkZW50aWZpZXJWc2lnbmVkV2FwcGRhdGFbYXBwaWNvbnBhdGhVcnBhdGha
		aWRlbnRpZmllcldtZXNzYWdlU2xvZ1tpc21hbmRhdG9yeVpzYXZlT25FeGl0
		VXF1aWNrW3VuY29uZmlybWVkVnRlYW1pZFdjb21tZW50gACAAIAAgACAAIAA
		gAGAAIAFgACAAoAAgACAAIAEgACAA4AACAgJCAiAAIAApzs8PT4/QEVVJG51
		bGwQAU8QxPreDAAAAADEAAAAAQAAAAYAAAAGAAAADwAAAAIAAAAXY29tLnV0
		bWFwcC5RRU1VTGF1bmNoZXIAAAAABwAAAA4AAAAAAAAACiqGSIb3Y2QGAQkA
		AAAAAAAAAAAGAAAABgAAAA4AAAABAAAACiqGSIb3Y2QGAgYAAAAAAAAAAAAO
		AAAAAAAAAAoqhkiG92NkBgENAAAAAAAAAAAACwAAAAAAAAAKc3ViamVjdC5P
		VQAAAAAAAQAAAApXRE5MWEFENFc4AABfEBdjb20udXRtYXBwLlFFTVVMYXVu
		Y2hlcl8QdS9BcHBsaWNhdGlvbnMvVVRNLmFwcC9Db250ZW50cy9YUENTZXJ2
		aWNlcy9RRU1VSGVscGVyLnhwYy9Db250ZW50cy9NYWNPUy9RRU1VTGF1bmNo
		ZXIuYXBwL0NvbnRlbnRzL01hY09TL1FFTVVMYXVuY2hlctJBQkNEV05TLnRp
		bWVWJGNsYXNzI0HGMBi68didgAbSRkdISVokY2xhc3NuYW1lWCRjbGFzc2Vz
		Vk5TRGF0ZaJISlhOU09iamVjdAAIABEAGgAkACkAMgA3AEkAfgCLAJIAmQCl
		ALIAuQDAAMgA1QDaAOAA7ADzAPsBBwENARgBIAEkATABOwFBAU0BVAFcAV4B
		YAFiAWQBZgFoAWoBbAFuAXABcgF0AXYBeAF6AXwBfgGAAYEBggGDAYQBhQGH
		AYkBkQGXAZkCYAJ6AvIC9wL/AwYDDwMRAxYDIQMqAzEDNAAAAAAAAAIBAAAA
		AAAAAEsAAAAAAAAAAAAAAAAAAAM9
		</data>
	</array>
</dict>
</plist>
